* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    height: 100%;
    font-family: system-ui, sans-serif;
}

ol,
ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height: 100%;
    padding: 8px;
    column-gap: 8px;
}

.container ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: span 1;
    grid-row: span 13;
    height: 100%;
}

.container li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    font-size: 10px;
    height: 100%;
    cursor: pointer;
}

li:nth-last-child(1) {
    color: #ffffff;
}

li:nth-last-child(2) {
    color: #ffffff;
}

li:nth-last-child(3) {
    color: #ffffff;
}

li:nth-last-child(4) {
    color: #ffffff;
}

li:nth-last-child(5) {
    color: #ffffff;
}

.toast {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background: #1c1e20;
    border-radius: 4px;
    padding: 8px 12px;
    opacity: 0;
    transition: all 250ms ease-out;
    width: min-content;
    white-space: nowrap;
    pointer-events: none;
}

.toast.visible {
    opacity: 1;
    top: 24px;
}