/* Text is BLACK from 0 - 500 */
/* Text is WHITE from 600 - 1000 */

:root {
	/* NEUTRAL-1 */
	--N1-0: #ffffff;
	--N1-10: #f9fcff;
	--N1-50: #e7f2f9;
	--N1-100: #d9e4eb;
	--N1-200: #bdc8cf;
	--N1-300: #a2adb3;
	--N1-400: #889299;
	--N1-500: #6d787e;
	--N1-600: #556066;
	--N1-700: #3e484e;
	--N1-800: #283237;
	--N1-900: #131d22;
	--N1-1000: #000000;

	/* NEUTRAL-2 */
	--N2-0: #ffffff;
	--N2-10: #f9fcff;
	--N2-50: #e4f3fb;
	--N2-100: #d6e4ed;
	--N2-200: #bac9d1;
	--N2-300: #9faeb6;
	--N2-400: #84939b;
	--N2-500: #6b7880;
	--N2-600: #536068;
	--N2-700: #3b4950;
	--N2-800: #253239;
	--N2-900: #0f1d23;
	--N2-1000: #000000;

	/* ACCENT-1 */
	--A1-0: #ffffff;
	--A1-10: #f9fcff;
	--A1-50: #def4ff;
	--A1-100: #bae9ff;
	--A1-200: #7fd1f5;
	--A1-300: #63b5d9;
	--A1-400: #469abd;
	--A1-500: #227fa0;
	--A1-600: #006685;
	--A1-700: #004d65;
	--A1-800: #003547;
	--A1-900: #001f2a;
	--A1-1000: #000000;

	/* ACCENT-2 */
	--A2-0: #ffffff;
	--A2-10: #fbfcff;
	--A2-50: #e6f2ff;
	--A2-100: #cbe5ff;
	--A2-200: #adc9e6;
	--A2-300: #93aeca;
	--A2-400: #7894ae;
	--A2-500: #5d7992;
	--A2-600: #46617a;
	--A2-700: #2e4961;
	--A2-800: #153349;
	--A2-900: #001d32;
	--A2-1000: #000000;

	/* ACCENT-3 */
	--A3-0: #ffffff;
	--A3-10: #fdfbff;
	--A3-50: #ebf0ff;
	--A3-100: #d6e3ff;
	--A3-200: #aec7f8;
	--A3-300: #93acdb;
	--A3-400: #7991c0;
	--A3-500: #5e77a3;
	--A3-600: #465e8a;
	--A3-700: #2e4770;
	--A3-800: #153058;
	--A3-900: #001b3f;
	--A3-1000: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    height: 100%;
    font-family: system-ui, sans-serif;
}

ol,
ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    padding: .25rem;
    background: url('background.png') no-repeat center center / cover;
}

.container ul {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    grid-column: span 1;
}

.container li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 15px;
    border-radius: 1rem;
    font-size: .675rem;
}

li:nth-last-child(1) {
    color: #ffffff;
}

li:nth-last-child(2) {
    color: #ffffff;
}

li:nth-last-child(3) {
    color: #ffffff;
}

li:nth-last-child(4) {
    color: #ffffff;
}

li:nth-last-child(5) {
    color: #ffffff;
}
